.car__item{
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}
.car__item-info span i{
   color: #D2DC00;
 font-size: 1.1rem;
}
.car__item-btn{
    padding: 0;
    border: none;
    outline: none;
    background:#00984A;
    padding: 8px 0px;
}
.car__item-btn a{
  text-decoration: none;
  color: white;
  font-weight: 500;
 }
 .car__item-btn a:hover{
    color: white;
 }
.car__btn-details{
    background-color: #D2DC00;
   border-radius: 0px 4px 4px 0px;

}

.car__btn-rent{
    border-radius: 0px 4px 4px 0px;
}
.car__item-content h4{
    font-size: 1.1rem;
}
.car__item-content h6{
    font-size: 1.2rem;
    font-weight: 600;
}


